{% extends 'accounts/layout.html' %}
{% load i18n %}
{% load static %}
{% block more_styles %}
{% endblock %}
{% block content %}
    <div class="">
        <div class="">
            <h6>Revisa tu bandeja de entrada, no olvides también revisar tu buzón de correos no deseados</h6>
        </div>
        <div class="">
            <a href="{% url 'accounts:login' %}" style="text-transform: capitalize">{% trans "login" %}</a>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}

