{% extends 'accounts/layout.html' %}
{% load i18n %}
{% load static %}
{% block more_styles %}
{% endblock %}
{% block content %}
<div class="card fat">
    <div class="card-body">      
      <h4 class="card-title">
            {% trans 'did you forget your password?'|capfirst %}
        </h4>
        
            {% trans 'You will be sent a message with instructions to restore your password'|capfirst %}
    </div>
    <div class="">
        {% if user.is_authenticated %}
        {% trans 'You are logged like ' %}
        <b>{{ user.first_name }}</b>
        {% else %}
        {% if message %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <strong>Error!</strong> {{ message }} {{ response }}
        </div>
        {% endif %}

        {% trans "reset password"|capfirst as button_name %}
        <form action="." method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{form.as_p}}

            <div class="form-group no-margin">
              <button type="submit" class="btn btn-primary btn-block">
                {{button_name}}
              </button>
            </div>            

            <div class="margin-top20 text-center">
              ¿Ya recordaste tu contraseña?,
              <a class="font-semi-bold" href="{% url 'accounts:signup'%}">{% trans 'login'|capfirst %}</a>
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
