{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{page.title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.3.1/dist/css/bootstrap.min.css'%}">    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/styles.css' %}">
</head>
<body class="accounts-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="{% static 'accounts/img/logo.jpg' %}">
					</div>
	{%block content%}
	{%endblock%}
					<div class="footer">
						Copyright &copy; 2018 &mdash; Atix Plus 
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>-- >
	<script type="text/javascript" src="{% static 'bootstrap-4.3.1/dist/js/bootstrap.min.js'%}"></script>
	{%block scripts%}
	{%endblock%}
</body>
</html>