{% extends 'accounts/layout.html' %}
{% load i18n %}

{% block content %}
{% if request.user.is_authenticated %}
{% trans 'You are logged like ' %}
    <b>{{ user.username }}</b>, <a href="{% url 'accounts:logout' %}">logout ?</a>
{% else %}
<div class="card fat">
    <div class="card-body">
      <h4 class="card-title">Login</h4>              
        <form action="." method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}            
            {% for field in form %}
            <div class="form-group">
              <label for="id_{{field.name}}">{{field.label}}</label>
              {{field}}
              <small id="id_{{field.name}}_help" class="form-text text-muted">{{field.help_text}}</small>
            </div>
            {% endfor %}


            {% if request.GET.next %}
              <input type="hidden" name="next" value="{{request.GET.next}}" />
            {% endif %}
            <div class="form-group no-margin">
              <button type="submit" class="btn btn-primary btn-block">
                Ingresar
              </button>
            </div>
            <br>
        <div class="margin-top20 text-center">                    
          <a class="font-semi-bold" href="{% url 'accounts:password_reset' %}">¿Olvidaste tu contraseña noob?</a>
        </div>
        <div class="margin-top20 text-center">
          ¿Eres nuevo?,
          <a
            class="font-semi-bold"
            href="{% url 'accounts:signup'%}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}">
            registrate
          </a>
        </div>
        </form>
    </div>
</div>
{% endif %}
</body>

{% endblock %}